spring:
  profiles:
    active: prod
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        # show_sql: true
        dialect: org.hibernate.spatial.dialect.postgis.PostgisPG95Dialect
        format_sql: true
  security:
    oauth2:
      client:
        registration:
          facebook:
            client-id: facebookid
            client-secret: facebooksecret

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type: trace

app:
  jwt:
    jwt-secret-key: kekekekek
    jwt-expiration-in-ms: 11000000
